<div class="sidebar-container bg-secondary z-2">
    <div class="sidebar-header bg-success">
        <div class="sidebar-logo">
            <img src="/assets/images/logo.png" alt="LOGO" class="img-fluid">
        </div>

    </div>

    <div class="sidebar-body">
        <a routerLink="/" class="sidebar-link">
            <span class="fa-solid--home"></span>
            <span>Home</span>
        </a>

        <a routerLink="/cadastro-cliente" class="sidebar-link">
            <span class="fa6-solid--user-pen"></span>
            <span>Cadastrar Cliente</span>
        </a>

        <a routerLink="/lista-clientes" class="sidebar-link">
            <span class="fa6-solid--handshake"></span>
            <span>Clientes Cadastrados</span>
        </a>
    </div>

    <div class="sidebar-link">
        <button (click)="logout()" class="w-100 btn bg-transparent text-white border-0 d-flex flex-column align-items-center">
            <span class="fa6-solid--door-open"></span>
            <span>Sair</span>
        </button>
    </div>
</div>