.step-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
}

.step-dot.active {
    background-color: #0d6efd;

}