<div class="w-100 dvh-100 d-flex flex-column flex-md-row">
  <app-loader *ngIf="carregando"></app-loader>

  <div class="h-100 d-none d-md-block position-sticky start-0 top-0 z-1">
    <app-side-bar></app-side-bar>
  </div>

  <div class="flex-grow-1 overflow-y-auto px-3 pt-3 pb-4">
    <!-- lista-clientes.component.html -->
    <div>
      <table class="table table-striped">
        <thead class="position-sticky top-0 start-0">
          <tr>
            <th>#</th>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Município</th>
            <th scope="col">
              <div class="d-flex">
                <div class="input-group">
                  <input type="text" (input)="buscarClientesPorTermo($any($event.target).value)"
                    class="form-control form-control-sm" placeholder="Buscar..." aria-label="Buscar">

                    <button class="btn btn-success d-flex align-items-center">
                      <span class="fa-solid--search"></span>
                    </button>
                </div>


              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of listaClientes">
            <td>{{cliente.id.toString().padStart(2, '0')}}</td>
            <td>{{cliente.nomeFantasia}}</td>
            <td>{{cliente.cnpj | mask: '00.000/0000-00'}}</td>
            <td>{{cliente.municipio}}</td>
            <td class="text-end">
              <div class="d-flex flex-column row-gap-2 align-items-end">
                <a routerLink="/cliente-detalhado/{{cliente.id}}" class="btn btn-outline-success btn-sm">
                  Detalhes
                </a>

                <button type="button" (click)="excluirCliente(cliente.id, cliente.nomeFantasia)"
                  class="btn btn-outline-danger btn-sm">
                  Excluir
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="listaClientes && listaClientes.length === 0">
            <td colspan="5" class="text-center">
              Nenhum cliente encontrado.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>