<div class="w-100 dvh-100 overflow-y-auto d-flex flex-column flex-md-row justify-content-center">
    <div class="h-100 d-none d-md-block position-sticky start-0 top-0">
        <app-side-bar></app-side-bar>
    </div>

    <div class="flex-grow-1 texte-primary">
        <a routerLink="/cadastro-cliente">Cadastro Cliente</a>
        <div *ngIf="etapa === 1">
            <form #dadospessoais="ngForm" (ngSubmit)="validarforms(dadospessoais)">

                <div>
                    <label for="id">Id:</label>
                    <input [(ngModel)]="cliente.id" type="number" id="id" required>
                </div>

                <div>
                    <label for="Nome">Nome:</label>
                    <input [(ngModel)]="cliente.nome" type="text" name="nome" id="nome" required>
                </div>

                <div>
                    <label for="nomeFantasia">Nome Fantasia:</label>
                    <input [(ngModel)]="cliente.nomeFantasia" type="text" name="nomeFantasia" id="nome" required>
                </div>

                <div>
                    <label for="CNPJ">CNPJ:</label>
                    <input [(ngModel)]="cliente.cnpj" type="number" name="cnpj" id="cnpj" required>
                </div>

                <div>
                    <label for="pessoa">Pessoa:</label>
                    <input [(ngModel)]="cliente.pessoa" type="text" name="pessoa" id="pessoa" required>
                </div>

                <div>
                    <label for="tipo">Tipo:</label>
                    <input [(ngModel)]="cliente.tipo" type="text" name="tipo" id="tipo" required>
                </div>

                <div>
                    <label for="dataAbertura">DataAbertura:</label>
                    <input [(ngModel)]="cliente.dataAbertura" type="date" name="dataAbertura" id="dataAbertura"
                        required>
                </div>

                <div>
                    <button>enviar</button>
                    <button>Deletar</button>
                </div>

            </form>
        </div>

        <div *ngIf="etapa === 2">
            <form #dadospessoais="ngForm" (ngSubmit)="validarforms(dadospessoais)">

                <div>
                    <label for="cep">Cep:</label>
                    <input [(ngModel)]="cliente.cep" type="number" name="cep" id="cep" required>
                </div>

                <div>
                    <label for="logradouro">Logradouro:</label>
                    <input [(ngModel)]="cliente.logradouro" type="text" name="logradouro" id="logradouro" required>
                </div>

                <div>
                    <label for="bairro">bairro:</label>
                    <input [(ngModel)]="cliente.bairro" type="text" name="bairro" id="bairro" required>
                </div>

                <div>
                    <label for="codMunicipio">codMunicipio:</label>
                    <input [(ngModel)]="cliente.codMunicipio" type="numebr" name="codMunicipio" id="codMunicipio"
                        required>
                </div>

                <div>
                    <label for="municipio">municipio:</label>
                    <input [(ngModel)]="cliente.municipio" type="text" name="municipio" id="municipio" required>
                </div>

                <div>
                    <label for="tipo">estado:</label>
                    <input [(ngModel)]="cliente.estado" type="text" name="estado" id="estado" required>
                </div>

                <div>
                    <label for="pais">pais:</label>
                    <input [(ngModel)]="cliente.pais" type="text" name="pais" id="pais" required>
                </div>

                <div>
                    <button>enviar</button>
                    <button>Deletar</button>
                </div>

            </form>
        </div>

        <div *ngIf="etapa === 3">
            <form #dadospessoais="ngForm" (ngSubmit)="validarforms(dadospessoais)">

                <div>
                    <label for="ddd">ddd:</label>
                    <input [(ngModel)]="cliente.ddd" name="ddd" type="number" id="ddd" required>
                </div>

                <div>
                    <label for="telefone">telefone:</label>
                    <input [(ngModel)]="cliente.telefone" type="number" name="telefone" id="telefone" required>
                </div>

                <div>
                    <label for="email">email:</label>
                    <input [(ngModel)]="cliente.email" type="text" name="email" id="email" required>
                </div>

                <div>
                    <label for="homePage">homePage:</label>
                    <input [(ngModel)]="cliente.homePage" type="numebr" name="homePage" id="homePage" required>
                </div>

                <div>
                    <label for="loja">loja:</label>
                    <input [(ngModel)]="cliente.loja" type="text" name="loja" id="loja" required>
                </div>

                <div>
                    <button>enviar</button>
                    <button>Deletar</button>
                </div>

            </form>
        </div>
    </div>
</div>